In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
import logging
logging.basicConfig(filename="data_prerocessing.log", level=logging.INFO, format='%(asctime)s %(message)s', datefmt="%Y-%m-%d %H:%M:%S")

In [4]:
logging.info("Reading the dataset.....!!!!")
df = pd.read_csv("datasets/thyroid0387.data")
df

,29,F,f,f.1,f.2,f.3,f.4,f.5,f.6,t,...,f.14,?.1,f.15,?.2,f.16,?.3,f.17,?.4,other,-[840801013]
0,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,-[840801014]
1,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,-[840801042]
2,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-[840803046]
3,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S[840803047]
4,60,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-[840803048]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9166,56,M,f,f,f,f,f,f,f,f,...,t,64,t,0.83,t,77,f,?,SVI,-[870119022]
9167,22,M,f,f,f,f,f,f,f,f,...,t,91,t,0.92,t,99,f,?,SVI,-[870119023]
9168,69,M,f,f,f,f,f,f,f,f,...,t,113,t,1.27,t,89,f,?,SVI,I[870119025]
9169,47,F,f,f,f,f,f,f,f,f,...,t,75,t,0.85,t,88,f,?,other,-[870119027]
9170,31,M,f,f,f,f,f,f,f,t,...,t,66,t,1.02,t,65,f,?,other,-[870119035]

In [5]:
logging.info("read the dataset successfully !!")

In [7]:
df["-[840801013]"].unique()

array(['-[840801014]', '-[840801042]', '-[840803046]', ...,
       'I[870119025]', '-[870119027]', '-[870119035]'], dtype=object)

The diagnosis consists of a string of letters indicating diagnosed conditions.
A diagnosis "-" indicates no condition requiring comment.  A diagnosis of the
form "X|Y" is interpreted as "consistent with X, but more likely Y".  The
conditions are divided into groups where each group corresponds to a class of
comments.

		Letter	Diagnosis
		------	---------

	hyperthyroid conditions:

		A	hyperthyroid
		B	T3 toxic
		C	toxic goitre
		D	secondary toxic

	hypothyroid conditions:

		E	hypothyroid
		F	primary hypothyroid
		G	compensated hypothyroid
		H	secondary hypothyroid

	binding protein:

		I	increased binding protein
		J	decreased binding protein

	general health:

		K	concurrent non-thyroidal illness

	replacement therapy:

		L	consistent with replacement therapy
		M	underreplaced
		N	overreplaced

	antithyroid treatment:

		O	antithyroid drugs
		P	I131 treatment
		Q	surgery

	miscellaneous:

		R	discordant assay results
		S	elevated TBG
		T	elevated thyroid hormones

In [8]:
df["outcome"] = df["-[840801013]"].str[0]
df.drop(["-[840801013]"], axis=1, inplace=True)

In [9]:
df.head()

,29,F,f,f.1,f.2,f.3,f.4,f.5,f.6,t,...,f.14,?.1,f.15,?.2,f.16,?.3,f.17,?.4,other,outcome
0,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,-
1,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,-
2,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-
3,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S
4,60,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-

In [11]:
diagnosis_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T']
df["outcome"].replace(to_replace = diagnosis_list, value='yes', inplace=True)

In [12]:
logging.info("replced all the disease all different catagory with one catagory 'Yes' ")
df["outcome"].replace({"-":0, "yes":1}, inplace=True)

In [13]:
logging.info("Classified the Label feature into 0 nad 1")
df.head()

,29,F,f,f.1,f.2,f.3,f.4,f.5,f.6,t,...,f.14,?.1,f.15,?.2,f.16,?.3,f.17,?.4,other,outcome
0,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,0
1,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,0
2,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,0
3,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,1
4,60,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,0

In [14]:
df.columns

Index(['29', 'F', 'f', 'f.1', 'f.2', 'f.3', 'f.4', 'f.5', 'f.6', 't', 'f.7',
       'f.8', 'f.9', 'f.10', 'f.11', 'f.12', 't.1', '0.3', 'f.13', '?', 'f.14',
       '?.1', 'f.15', '?.2', 'f.16', '?.3', 'f.17', '?.4', 'other', 'outcome'],
      dtype='object')

In [21]:
df.rename(columns = {"29":"age", "F":"sex", "f":"thyroxine", "f.1":"query_thyroxine", "f.2":"antithyroid", "f.3":"sick",
        "f.4":"pregnant", "f.5":"thyroid_surgery", "f.6":"I131 treatment", "t":"query_hypothyroid", "f.7":"query_hyperthyroid",
       "f.8":"lithium", "f.9":"goitre", "f.10":"tumor", "f.11":"hypopituitary", "f.12":"psych", "t.1":"TSH_measured",
        "0.3":"TSH", "f.13":"T3_measured", "?":"T3", "f.14":"TT4_measured","?.1":"TT4",
        "f.15":"T4U_measured", "?.2":"T4U", "f.16":"FTI_measured", "?.3":"FTI", "f.17":"TBG_measured",
        "?.4":"TBG", "other":"referral_source"}, inplace=True)

In [22]:
df

,age,sex,thyroxine,query_thyroxine,antithyroid,sick,pregnant,thyroid_surgery,I131 treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,outcome
0,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,0
1,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,0
2,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,0
3,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,1
4,60,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9166,56,M,f,f,f,f,f,f,f,f,...,t,64,t,0.83,t,77,f,?,SVI,0
9167,22,M,f,f,f,f,f,f,f,f,...,t,91,t,0.92,t,99,f,?,SVI,0
9168,69,M,f,f,f,f,f,f,f,f,...,t,113,t,1.27,t,89,f,?,SVI,1
9169,47,F,f,f,f,f,f,f,f,f,...,t,75,t,0.85,t,88,f,?,other,0
9170,31,M,f,f,f,f,f,f,f,t,...,t,66,t,1.02,t,65,f,?,other,0

In [23]:
logging.info("renamed all the feature columns")

In [24]:
logging.info("saving the processed data into csv format...............")

In [25]:
df.to_csv("data_preprocessing_dataset/data_processed_1.csv", index=False)
logging.info("Saved the file successfully !!!!")
logging.info("First Phase of Data Preprocessing is done !!!")